/.idea
/background.jpg
/gameover.jpg
/gamestart.jpg
/HomeWork.py
/J1.py
/J2.py
/J3.py
/J4.py
/J5.py
/Josephus.py
/main.py
/Snake.py
/test.py
/TreeTop.py
/ttt.py
/venv
/__pycache__
ListPractice.py
Max.py
ESL6.txt
English.py
AddTwoNumbers.py
